<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Parent</th>
    <th>Lft</th>
    <th>Rgt</th>
    <th>Depth</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.parent_id %></td>
    <td><%= category.lft %></td>
    <td><%= category.rgt %></td>
    <td><%= category.depth %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<ol class="sortable">
<% for category in @categories %>
    <li id="list_<%= category.id %>"><div><span class="handle">| Handle |</span> <%= category.name %></div>
        <%= raw(find_all_subcategories(category)) %>
   </li>
<% end %>
</ol>

<p>
	<input type="submit" name="serialize" id="serialize" value="Serialize" />
<p id="serializeOutput"></p>

<p>
	<input type="submit" name="toArray" id="toArray" value="To array" />
<pre id="toArrayOutput"></pre>

<%= link_to 'New Category', new_category_path %>
